@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orelega+One:wght@400;700&display=swap');

.profile_image{
    border-radius: 50%;
    width: 250px;
    height: auto;
  }

.project_image {
  width: 250px;
  height: auto;
}


.projects {
  margin-top: 1%;
  margin-left: 30%;
  margin-right: 30%;
  display: flex;
}

.majorproject {
  flex: 33.33%;
  padding: 0px;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}


body, html {
  background-color: #84B59F;
  height: 100%;
  margin: 0;
  font-size: x-large;
  font-family: "Orlega One";
}

.introtext {



  background-color: rgba(255, 255, 255,0.2);

  

  color: white;
  margin-left: 30%;
  margin-right: 30% ;
}

