@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orelega+One:wght@400;700&display=swap');

:root{
  --gradient: linear-gradient(
    #5A7684 0%,
    #92AFD7 80%,
    #C5D1EB 100%);
}


.profile_image{
  clip-path: circle(38.9% at 50% 36%);
    width: 20rem;
    height: auto;
    
  }

.image{
  margin-inline: 30%;
  margin-bottom: -7%;
  
}



.card{
  flex: 33%;
  color: white;
  background-image: url("images/minecraft-creeper-face.png");
  background-size: cover;
  padding: 8rem 0 0;
  max-width: 40ch;
  border-radius: .5rem;
  overflow: hidden;
  background-repeat: no-repeat;


  transition: transform 500ms ease;
}


.card:hover {
  transform: scale(1.05);
}

.card-content{
  --padding:1.5rem;
  padding: var(--padding);
  background: linear-gradient(hsl(0 0% 0% / 0),hsl(20 0% 0% / 0.3) 20%,hsl(0 0% 0% / 1));
  transform: translateY(20%);
  transition: transform 500ms ease;
  font-size: small;
  font-family: "Orlega One", monospace
}

.card-title{
  position: relative;
  width: max-content;
  
}

.card:hover .card-content {
  transform: translateY(0);
}

.card:hover .card-title::after {
  transform: scaleX(1);
}

.card-content > *:not(.card-title) {
  opacity: 0;
  transition: opacity 500ms linear;
}


.card:hover .card-content > * {
  opacity: 1;
}

.card-title::after{
  content: "";
  position: absolute;
  height: 2px;
  left:calc(var(--padding) * -1);
  bottom:-4px;
  width: calc(100% + var(--padding));
  background: limegreen;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 500ms ease;
}

.card-body {
  color: rgb(255 255 255 / 0.85);
}

.button{
  cursor: pointer;
  display: inline;
  text-decoration: none;
  color: black;
  background-color: limegreen;
  padding: 0.5em 1.25em;
  border-radius: 0.25em;
}




.projects {
  
  display: flex;
  justify-content: center;
  gap: 1rem;
  
}



.majorproject:hover .project_description{
  background: rgba(255, 255, 255,0.2);
  color: wheat;
}

hr{
  margin-inline: 20%;
}

.fa {
  padding: 10px;
  font-size: 30%;
  width: 20px;
  text-align: center;
  text-decoration: none;
  
}
.fa-github {
  background: purple;
  color: white;
}


.social-buttons {
  border-color: black;
  border:10%;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

body{
  height: 100%;
  font-family: "Orlega One", monospace;
  background-image: var(--gradient);
}

.introtext {
  font-size: 100%;
  background-color: rgba(255, 255, 255,0.2);
  color: white;
  width: fit-content;
  margin-inline: 30%;
}

.majorproject .project_description{
  height: 100%;
  width: 100%;
}

.project_description{
  margin-top: 0;
  color: transparent;
}

